In [ ]:
from QueryParser import QueryParser

In [ ]:
sql = f"""WITH recent AS (
    SELECT account_id, balance
    FROM core.accounts
    WHERE updated_at >= DATEADD('day', -7, CURRENT_DATE)
)
SELECT
    r.account_id,
    b.balance_bucket
FROM recent r
JOIN analytics.balance_lookup b
    ON r.balance + 10 = b.bucket_start
"""
parser_a = QueryParser(sql)

In [ ]:
parser_a.filters()

In [ ]:
parser_a.column_lineage()

In [ ]:
parser_a.feature_columns()

In [ ]:
parser_a.joins()

In [ ]:
sql = """
SELECT
    a.COLUMN_A,
    b.COLUMN_B,
    AMBIGUOUS_COL
FROM DB.SCHEMA.TABLE_A a
JOIN DB.SCHEMA.TABLE_B b
    ON a.COLUMN_A = b.COLUMN_B
"""
parser_b = QueryParser(sql)

In [ ]:
parser_b.feature_columns()

In [ ]:
parser_b.source_columns()

In [ ]:
parser_b.joins()

In [ ]:
sql = f"""
SELECT
    SUMMED_FIELD
FROM
    (SELECT
        a.A + b.B AS SUMMED_FIELD
    FROM
        MYDB.MYSCHEMA.TABLE_A a
    JOIN
        MYDB.MYSCHEMA.TABLE_B b
    ON a.ID = b.ID
    )
WHERE
    SUMMED_FIELD > 10;
"""
parser_c = QueryParser(sql)

parser_c.source_columns()

In [ ]:
parser_c.column_lineage()

In [ ]:
parser_c.filters()

In [ ]:
parser_c.source_columns()

In [ ]:
sql = """
SELECT COUNT(DISTINCT A.CDN) FROM MYDB.MYSQL.TBL_A A
INNER JOIN MYDB.MYSQL.TBL_B B

ON A.ID = B.ID
WHERE A.END_DT = '9999-99-99' AND B.PARTY_ROLE = 'CUST';
"""
parser_d = QueryParser(sql)

parser_d.source_tables()

In [ ]:
sql = """
SELECT
    COUNT(1)
FROM
    (SELECT
        MY_COL,
        CASE WHEN OTHER_COL = 1 THEN '1' ELSE '0' END AS ANOTHER_THING
    FROM MYDB.MYSCHEMA. MY_TABLE A
    ) A
GROUP BY 1
"""
parser_e = QueryParser(sql)

parser_e.source_columns()

In [ ]:
parser_e.select_columns()

In [ ]:
sql = """
SELECT
    ADDR_CNT,
    COUNT(EPI) CUST_CNT
FROM
    (
        SELECT
            EPI,
            COUNT(DISTINCT AD_DIM_NB) ADDR_CNT
        FROM
            DB.SCHEMA_V.ATABLE
        WHERE
            END_DT > dateadd (month, -6, current_date)
        GROUP BY
            1
        HAVING
            ADDR_CNT > 2
    )
GROUP BY
    1;
"""

parser_f = QueryParser(sql)

parser_f.source_columns()

In [ ]:
parser_f.select_columns()

In [ ]:
sql = f"""
SELECT
    a.DIRECT_COL AS COLUMN_1,
    b.COLUMN_1 + 10 AS COLUMN_2,
    b.COLUMN_2 AS COLUMN_3
FROM
    TABLE_A a
JOIN
    (SELECT
        COLUMN_1,
        COLUMN_2,
        ID
    FROM
        TABLE_B
    WHERE
        SELECT_COL > 10
    ) b
ON
    TABLE_A.ID = TABLE_B.ID
"""
parser_g = QueryParser(sql)

In [ ]:
parser_g.source_columns()

In [ ]:
parser_g.select_columns()

In [ ]:
sql = f"""

WITH MYCTE AS (
SELECT *
FROM MYTABLE
WHERE FILTER_COL > 10
)
SELECT
    COLUMN_A
FROM MYCTE;
"""

parser_h = QueryParser(sql)

parser_h.source_columns()

In [ ]:
parser_h.select_columns()